<main class="container">
  <div class="navbar">
    <app-navbar (BTNStates)="updatebtnstate($event)" />
  </div>
  <div class="main">
    <div>
      <app-searchbar />
    </div>
    <section class="content">
      <div class="slot">
        @if (buttonstates.addbutton) {<addnewcomputer />}
        @else if (buttonstates.editbutton) {<app-edit-computer />}
        @else if (buttonstates.listcomputers) {<deviceslisting />}
        @else if (buttonstates.addrecords) {<addnewrecord />}
        @else {<emptycard />}
        
      </div>
      <div class="content">
        <app-listings (editrecord)="editrecord($event)" />
      </div>
    </section>
  </div>
</main>

<router-outlet />
