.navbar {
    font-size: 0.5rem;
    font-weight: bold;
    
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}   

.collapse {
    display: flex;
    justify-content: space-between;
    
}
.navbtns {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
    text-size-adjust: 0.5rem;

}
.navbtns button {
    background-color: #636161;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.5rem;
}