nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}   
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.collapse {
    display: flex;
    justify-content: space-between;
    
}